UID=1000
GID=1000

DB_HOST=pgbouncer
DB_PORT=5432
DB_NAME=yii2basic
DB_USER=yii2
DB_PASSWORD=secret

REDIS_HOST=redis
REDIS_PORT=6379

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/

COOKIE_VALIDATION_KEY=
