.idea
.vscode
nbproject
.buildpath
.project
.settings
Thumbs.db
/.env
/.php-cs-fixer.cache
/.phpunit.result.cache
/vendor
composer.phar
.DS_Store
phpunit.phar
/phpunit.xml
tests/_output/*
tests/_support/_generated
/.vagrant
/docs/api/
/docs/.doctum-cache/
/tools/doctum.phar
/repomix-output.*
