includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: 6
    phpVersion: 70400
    universalObjectCratesClasses:
        - yii\base\Component
    paths:
        - commands
        - components
        - controllers
        - jobs
        - models
        - widgets
    bootstrapFiles:
        - vendor/yiisoft/yii2/Yii.php
    excludePaths:
        - runtime
        - tests
        - vendor
